<%= simple_form_for @nanny do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file, label: "Upload Profile Photo" %>
  <%= f.input :hour_rate, as: :float %>
  <div class="d-flex justify-content-between">
    <%= f.submit "Send", class: "btn btn-outline-primary btn-lg" %>
    <%= link_to "cancel", profile_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
<% end %>
