<div class="container">


<div class="nanny-info-container">

    <div>
      <% if @nanny.photo.attached? %>
        <%= cl_image_tag @nanny.photo.key, alt: "Profile photo of #{@nanny.name}", height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag "0awben1djbrwe3z575gpivko4apy", alt: "Profile photo of #{@nanny.name}", height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>

    <div class="nanny-details">
      <h1><%= @nanny.name %></h1>
      <p><%= @nanny.description %></p>
    </div>
  </div>

  <div class="reservation-form-container">

    <div class="reservation-form">
    <h1 class="text-center mb-4">Edit this nanny's profile</h1>
      <%= render "form" %>
    </div>

  </div>
<ul></ul>
  <div class="cancel">
  <%= link_to "cancel", profile_path, class: 'btn btn-primary float-end me-5' %>
  </div>

</div>

