<div class="container py-3">
  <h1 class="display-3  text-center mb-5 text-dark fw-bold animated-title">Find Your Nanny</h1>
  <p class="text-center text-muted mb-4">
    Browse through our nannies and find the perfect match for your family 👩.</p>

  <div class="row">
    <% @nannies.each do |nanny| %>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="card-product h-100 card-hover" onclick="window.location='<%= nanny_path(nanny) %>'">
            <% if nanny.photo.attached? %>
              <%= cl_image_tag nanny.photo.key, alt: "Profile photo of #{nanny.name}", height: 100, width: 100, crop: :fill, class: " profile-photo mb-3" %>
            <% else %>
              <%= cl_image_tag "0awben1djbrwe3z575gpivko4apy", alt: "Profile photo of #{nanny.name}", height: 100, width: 100, crop: :fill, class: "profile-photo mb-3" %>
            <% end %>
         <div class="card-product-infos">
            <h2><%= link_to nanny.name, nanny_path(nanny), class: "text-decoration-none text-dark fw-bold" %></h2>
            <p><%= nanny.description %></p>
            <p><%= nanny.hour_rate %>€/h</p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
