<h1>Add a New Nanny</h1>

<%= simple_form_for(nannies) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file, label: "Upload Profile Photo" %>
  <%= f.submit 'Save' %>
<% end %>
