<div class="container">
  <div>
    <div class="card-product h-100 my-4" onclick="window.location='<%= nanny_path %>'">
      <% if @nanny.photo.attached? %>
        <%= cl_image_tag @nanny.photo.key, alt: "Profile photo of #{@nanny.name}", height: 100, width: 100, crop: :fill, class: "profile-photo" %>
      <% else %>
        <%= cl_image_tag "0awben1djbrwe3z575gpivko4apy", alt: "Profile photo of #{@nanny.name}", height: 100, width: 100, crop: :fill, class: "profile-photo" %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to @nanny.name, nanny_path, class: "text-decoration-none text-dark fw-bold" %></h2>
        <p><%= @nanny.description %></p>
        <b><p class="text-end"><%= @nanny.hour_rate.round(2) %>€/h</p></b>
      </div>
    </div>

    <div>
      <div class="reservation-form mb-4">
        <h1 class="text-center mb-4">Create a booking</h1>
        <%= simple_form_for [@nanny, @booking] do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.input :start_time, label: "starting from", input_html: { class: "form-control form-control-lg" } %>
          </div>

          <div class="form-group">
            <%= f.input :end_time, label: "Until", input_html: { class: "form-control form-control-lg" } %>
          </div>

          <div class="form-group">
            <%= f.input :address, label: "Adresse", input_html: { class: "form-control form-control-lg", placeholder: "Entrez l'adresse ici..." } %>
          </div>

          <div class="mt-4 d-flex justify-content-between">
            <%= f.button :submit, "Book this Uber Nanny !", class: 'btn btn-outline-primary btn-lg btn-block' %>
            <%= link_to 'cancel', nannies_path, class: 'btn btn-outline-secondary btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
