<div class="container">
  <div class="nanny-info-container">

    <div class="nanny-photo">
      <% if @nanny.photo.attached? %>
        <%= cl_image_tag @nanny.photo.key, alt: "Profile photo of #{@nanny.name}", height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag "0awben1djbrwe3z575gpivko4apy", alt: "Profile photo of #{@nanny.name}", height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>

    <div class="nanny-details">
      <h1><%= @nanny.name %></h1>
      <p><%= @nanny.description %></p>
    </div>
  </div>

    <div class="reservation-form-container">
      <div class="reservation-form">
        <h1 class="text-center mb-4">Create a booking</h1>
        <%= simple_form_for [@nanny, @booking] do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.input :start_time, label: "Heure de début", input_html: { class: "form-control form-control-lg" } %>
          </div>

          <div class="form-group">
            <%= f.input :end_time, label: "Heure de fin", input_html: { class: "form-control form-control-lg" } %>
          </div>

          <div class="form-group">
            <%= f.input :address, label: "Adresse", input_html: { class: "form-control form-control-lg", placeholder: "Entrez l'adresse ici..." } %>
          </div>

          <div class="text-center mt-4">
            <%= f.button :submit, "Book this Uber Nanny !", class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<%= link_to 'Back to List', nannies_path, class: 'btn btn-primary float-end' %>
